/*-----------сброс стиле------------ */
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a {
	text-decoration: none;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/*выше сброс стилей-------начало проекта */

body {
	min-width: 1366px;
	background-color: #1F1C1D;
	font-family: Roboto, sans-serif;
	color: #A07B50;
	font-size: 16px;
	line-height: 150%;

}
.title-top {
	font-family: "Yeseva One", sans-serif;
	color: #fff;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	margin-top:83px;
	text-align: center;
}
/*--------header---------- */
.page-header {
	background-color: #181617;
}
.header {
	width: 100%;
	height: 750px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 15% 1fr;
	grid-template-areas: ".header__logo .header__logo"
								".header__sociallist .header__container";
	background-image: url("img/catmain.png");
	background-position: 430px 70px;
	background-repeat: no-repeat;
}
.header__logo {
	width: 100%;
	height: 59px;
	grid-column: span 2;
}
.header__container {
	width: 622px;
	height: 462px;
	display: flex;
	flex-direction: column;
	margin-top: 0px;
	margin-left: 202px;
}

.header__subtitle {
line-height: 24px;
padding-bottom: 18px;

}
.header__title {
	font-family: Yeseva One, sans-serif;
	color: #fff;
	font-size: 52px;
	font-weight: 400;
	line-height: 60.06px;
	padding-bottom: 31px;
}
.header__discriptions {
}
.header__link {
	color: #fff;
	padding: 18px 35px 17px 35px;
	font-size: 14px;
	line-height: 16.41px;
	border: 0.5px solid #A07B50 ;
	max-width: 200px;
	max-height: 52px;
	margin-top: 62px;
	text-decoration: none;
}
.header__link:hover {
	color: rgba(255, 255, 255, 0.1);
	padding: 18px 35px 17px 35px;
	font-size: 14px;
	line-height: 16.41px;
	border: 0.5px solid #A07B50 ;
	max-width: 200px;
	max-height: 52px;
	margin-top: 62px;
}
.header__image {
	width: 1068px;
	height: 712px;
}
.header__sociallist {
	width: 100px;
	height: 150px;
	grid-column: span 1;
	position: absolute;
	top: 570px;
	left: 95px;
}
.header__social--line {
	width: 1px;
	height: 77.5px;
	background-color: rgba(255, 255, 255, 0.61);
	position: absolute;
	left: 100px;
	top: 470px;
}
.sociallist__item {
}
.socialitem__link {
	text-decoration: none;
	font-size: 0px;
}
.socialitem__image {

}
/*--------pets---------- */
.pets__container {
	background-color: #1F1C1D;
	margin: 0 auto;
	max-width: 1100px;
	display: flex;
	flex-direction: column;
}
.pets__logobox {
	display: flex;
	flex-direction: column;
	max-width: 800px;
	margin: 0 auto;
}
.pets__discriptions {
	text-align: center;
	margin-top: 23px;
	margin-bottom: 38px;
}
.pets__list {
	display: flex;
	justify-content: space-between;
	width: 250px;
	align-self: center;
}
.pets__image1 {
	height: 214px;
	width: 513px;
	background-image: url("img/cat_white.jpg");
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.pets__image2 {
	height: 241px;
	width: 519px;
	background-image: url("img/cat_browncut.jpg");
	margin-top: 10px;
	background-repeat: no-repeat;
}
.pets__image3 {
	background-image: url("img/catgray.png");
	background-repeat: no-repeat;
	width: 471px;
	height: 444px;

}
.pets__link {
	color: rgba(255, 255, 255, 0.2);
}
.pets__btn {
	margin: 0 auto;
	margin-top: 55px;
	margin-bottom: 30px;
	color: #fff;
	padding: 18px 35px 17px 35px;
	font-size: 14px;
	line-height: 16.41px;
	border: 0.5px solid #A07B50 ;
	max-width: 200px;
	max-height: 52px;
	text-decoration: none;
}
.pets__btn:hover {
	margin: 0 auto;
	margin-top: 55px;
	margin-bottom: 30px;
	color: rgba(255, 255, 255, 0.1);
	padding: 18px 35px 17px 35px;
	font-size: 14px;
	line-height: 16.41px;
	border: 0.5px solid #A07B50 ;
	max-width: 200px;
	max-height: 52px;
	text-decoration: none;
}
.pets__link:hover {
	color: rgb(255, 255, 255);
}
.pets__imgbox {
	width: 1054px;
	height: 485px;
	display: flex;
	margin: 0 auto;
	margin-top: 20px;

}
.pets__leftbox {
	display: flex;
	flex-direction: column;
	margin: 20px 10px 20px 20px;

}
.pets__rightbox {
	width: 471px;
	height: 444px;
	margin: 20px 20px 20px 10px;
}


/* ----------osobennosti page ------------------------------------*/
.osob {
}
.osob__title {
}
.title-top {
}
.osob__subtitle {
	text-align: center;
	margin-top: 27px;
}
.osob__item {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 21px;
	text-align: right;
	color: #FFFFFF;
}
.osob__item--legko {
	position: absolute;
	width: 270px;
	height: 43px;
	left: 110px;
	top: 140px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 153.52%;
	text-align: right;
}
.osob__item--vneshniy {
	position: absolute;
	width: 212px;
	height: 46px;
	left: 150px;
	top: 423px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 23px;
	text-align: right;

	color: #FFFFFF;
}
.osob__item--vipol {
	position: absolute;
	width: 201px;
	height: 50px;
	right: 160px;
	top: 275px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 25px;

	color: #FFFFFF;
}
.osob__item--vesmozh {
	position: absolute;
	width: 168px;
	height: 46px;
	right: 230px;
	top: 465px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 23px;
	color: #FFFFFF;

}
.osob__container {
	width: 100%;
	max-width: 1366px;
	height: 740px;
	position: relative;
	margin: 0 auto;
	margin-top: 69px;
}
.osob__blackhole {
	position: absolute;
	top: 57px;
	left: 423px;
	background-color: #151313;
	border-radius: 50%;
	width: 519px;
	height: 519px;
	margin: 0 auto;
	z-index: 1;
}
.osob__blackhole--border {

	border-radius: 50%;
	width: 631px;
	height: 631px;
	margin: 0 auto;
	border: 1px solid #A07B50;
}
.osob__imagecat {
	position: absolute;
	left: 390px;
	top: -130px;
	z-index: 3;
}
.osob__dot1 {
	position: absolute;
	top: 150px;
	left: 403px;
	background-color: #A07B50;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
.osob__dot2 {
	position: absolute;
	top: 430px;
	left: 383px;
	background-color: #A07B50;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
.osob__dot3 {
	position: absolute;
	top: 280px;
	right: 361px;
	background-color: #A07B50;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
.osob__dot4 {
	position: absolute;
	top: 470px;
	right: 405px;
	background-color: #A07B50;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
/*-------------------block why we--------------------*/
.whywe {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #151313;
	height: 618px;
}
.whywe__list--container {
	width: 1147px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.whywe__title {
}
.whywe__subtitle {
	margin-bottom: 47px;
	text-align: center;
	margin-top: 23px;
}
.whywe__list {

}
.whywe__item {
	width: 360px;
	height: 301px;
	background-color: #1F1C1D;
	display: flex;
	flex-direction: column;
}
.whywe__item--hover {
	background-color: #A07B50;
	width: 320px;
	height: 267px;
	margin: 17px 20px;
	display: flex;
	flex-direction: column;
}
.whywe__item-text {
	text-align: center;
	margin-bottom: 41px;
}
.whywe__item-textwhite {
	color: #fff;
	text-align: center;
	margin-bottom: 24px;
}
.whywe__item--image {
	margin: auto;
}
.whywe__item--image-white {
	margin: auto;
}

/*------------uhod page---------------*/

.uhod {
	width: 100%;
	background-image: url("img/obuhode.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 645px;
	display: flex;
	flex-direction: column;
}
.uhod__title {
	font-family: "Yeseva One", sans-serif;
	color: #fff;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	margin-top:	83px;
	text-align: center;
}
.uhod__box {
	width: 559px;
	height: 165px;
	border: 1px solid #A07B50;
	position: relative;
}
.uhod__box__container{
	width: 1160px;
	margin: 0 auto;
	margin-top: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 30px;
}
.box__title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	color: #A07B50;
	margin-top: 38px;
	margin-left: 59px;
}
.box__subtitle {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 23px;
	color: #FFFFFF;
	margin-left: 59px;
	margin-top: 10px;

}
.uhod__box--boxright {
	height: 100%;
	width: 60px;
	background-color: #A07B50;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.boxright__strelka {
	width: 16px;
	height: 16px;
}

/*========================plock our team======================*/

.ourteam {
	width: 100%;
	background-color: #151313;
	height: 694px;
	border: 1px solid rgba(0, 128, 0, 0);
}
.ourteam__title {

}
.ourteam__subtitle {
	margin-bottom: 22px;
	text-align: center;
	margin-top: 23px;
}
.ourteam__card {
	max-width: 994px;
	height: 402px;
	margin: 0 auto;
	position: relative;
	display: flex;
	margin: 0 auto;
}
.ourteam__photo {
	max-width: 360px;
	max-height: 356px;
	position: absolute;
	left: 30px;
	z-index: 3;


}
.card__borderbox {
	width: 660px;
	height: 402px;
	border: 1px solid rgba(160, 123, 80, 0.43);
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	right: 0;
	z-index: 1;
}
.card__boxinbox {
	height: 356px;
	width: 600px;
	background-color: #1F1C1D;
	margin:0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
}
.card__boxmini {
	width: 401px;
	height: 214px;
	margin:0 auto;
	display: flex;
	flex-direction: column;
	position: relative;
}
.card__name {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	color: #A07B50;

}
.card__title {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	margin-top: 5px;
	color: #A07B50;
}
.card__description {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 25px;
	margin-top: 20px;
	color: rgba(255, 255, 255, 0.72);
}
.card__list {
	display: flex;
	align-items: flex-end;
	position: absolute;
	bottom: 0;
}
.card__item:not(:last-child) {
	margin-right: 10px;
}
.card__link {
	font-size: 0px;
}
.card__link--fb {

}
.card__link--tw {
	
}
.card__link--vk {
	
}

/*========================вlock ask-questions======================*/
.ask-questions {
	width: 100%;
	height: 1150px;
	background-color: #1F1C1D;
	border: 1px solid rgba(0, 128, 0, 0);
}
.ask-questions__title {
}
.ask-questions__number {
	position: absolute;
	left: -120px;
	top: 12px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 70px;
	line-height: 82px;
	color: #A07B50;
}
.ask-questions__icon {
	position: absolute;
	right: 45px;
	top: 45px;
	z-index: 3;
}
.ask__auestions__minibox {
	width: 104px;
	height: 110px;
	border: 1px solid rgba(160, 123, 80, 0.41);
	background-color: #A07B50;
	position: absolute;
	right: -1px;
	top: -1px;
}
.ask__auestions__minibox2 {
	width: 104px;
	height: 110px;
	border: 1px solid rgba(160, 123, 80, 0.41);
	position: absolute;
	right: -1px;
	top: -1px;
}
.title-top {
}
.ask-questions__subtitle {
	margin-bottom: 22px;
	text-align: center;
	margin-top: 23px;
}
.ask-questions__container {
	width: 940px;
	height: 937px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.ask-questions__box {
	border: 1px solid blue;
	width: 739px;
	height: 110px;
	float: right;
	border: 1px solid rgba(160, 123, 80, 0.41);
	position: relative;
}
.ask-questions__box:not(:first-child) {
	margin: 20px 0px 20px 0px;
}
.ask-questions__boxbottom {
	width: 739px;
	height: 299px;
	float: right;
	border: 1px solid rgba(160, 123, 80, 0.41);
	border-top: none;
	margin: 0px 0px 10px 0px;
}
.box__text {
	margin: 46px 0px 0px 42px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #DDD0C3;
}
.box__text--description {
	margin: 34px 0px 0px 42px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 154%;
	color: #DDD0C3;
}