@media (min-width: 768px){
	.start-page-socials {
		display:flex
	}
	.start-page__main-text {
		margin-top: 20px;
	}
	.btn {
		font-size: 0.875rem;
	}
	.start-page__link {
		margin-top: 57px;
	}
	.title-header {
		font-size: 3.25rem;
		text-align: start;
		min-width: 340px;
		line-height: 60px;
	}
	.start-page__content {
		align-items: flex-start;
	}
	.text-main {
		color: #A07B50;
		text-align: center;
		font-size: 1rem;
		max-width: 520px;
		line-height: 26px;
		padding-bottom: 0;
	}
	.text-white {
		font-size: 1rem;
	}
	.text-white-medium {
		font-size: 1rem;
	}
	.text-white-medium--light {
		font-size: 1rem;
	}
	.start-page {
		position: relative;
		height: 768px;
		background-image: url('img/catmain.png');
		background-repeat: no-repeat;
		background-size: 100vw;
		background-position: bottom 0 right 0;
	}
	.start-page__content {
		margin: 0 0 0 41px;
	}
	.start-page__main-subtitle {
		text-align: start;
	}
	.main-koon-img__img {
		display: none;
		left: 100px;
	}
	.title {
		padding-top: 100px;
		font-size: 2.25rem;
	}
	.pets__images {
		z-index: 1;
	}
	.pets__images--img {
		position: relative;
	}
	.pets__images--img2 {
		display: block;
		position: absolute;
		z-index: -2;
		top: 100px;
		left: 100px;
	}
	.pets__images--img3 {
		display: block;
		position: absolute;
		z-index: -1;
		top: 100px;
		right: 100px;
	}


	.features {
		padding-bottom: 95px;
	}
	.features__circle-border {
		width: 416px;
		height: 424px;
		position: relative;
	}
	.festures__circle-black {
		height: 349px;
		width: 342px;
		top: 37px;
		left: 35px;
	}
	.features__cat {
		top: -40px;
	}
	.features__subtitle {

	}
	.features__list--dot::before {
		display: none;
	}
	.ft1 {
		position: absolute;
		top: 52px;
		left: -50px;
		z-index: 3;
		max-width: 200px;
		text-align: right;
	}
	.ft2 {
		position: absolute;
		top: 171px;
		left: 540px;
		z-index: 3;
		width: 180px;
		text-align: left;
	}
	.ft3 {
		position: absolute;
		top: 312px;
		left: 507px;
		z-index: 3;
		max-width: 200px;
		text-align: left;
	}
	.ft4 {
		position: absolute;
		top: 260px;
		left: -36px;
		z-index: 3;
		width: 175px;
		text-align: right;
	}
	.features__listbox {
		
	}
	.dot1 {
		background-color: #A07B50;
		background-repeat: no-repeat;
		background-position: 0 0;
		width: 10px;
		height: 10px;
		border-radius: 100%;
		position: absolute;
		top: 100px;
		left: 24px;
		z-index: 5;
	}
	.dot2 {
		background-color: #A07B50;
		background-repeat: no-repeat;
		background-position: 0 0;
		width: 10px;
		height: 10px;
		border-radius: 100%;
		position: absolute;
		top: 265px;
		left: 3px;
		z-index: 5;
	}
	.dot3 {
		background-color: #A07B50;
		background-repeat: no-repeat;
		background-position: 0 0;
		width: 10px;
		height: 10px;
		border-radius: 100%;
		position: absolute;
		top: 178px;
		left: 408px;
		z-index: 5;
	}
	.dot4 {
		background-color: #A07B50;
		background-repeat: no-repeat;
		background-position: 0 0;
		width: 10px;
		height: 10px;
		border-radius: 100%;
		position: absolute;
		top: 317px;
		left: 381px;
		z-index: 5;
	}





	.whywe__subtitle {
		padding-bottom: 58px;
	}
	.about-card__text {
		padding-right: 80px;
	}
	.about-leaving {
		padding-bottom: 100px;
	}



	.our-team {
		padding-bottom: 170px;
	}
	.our__subtitle {
		max-width: 510px;
		line-height: 25px;
	}
	.our-team__cardbox {
		margin: 0;
		align-items: flex-start;
		text-align: start;
		padding-left: 90px;
		padding-right: 95px;
		padding-bottom: 75px;
	}
	.our-team__item {
		padding-top: 45px;
	}
	.our-team__title-text {
 	font-size: 1.5rem;
}
	.card__border-box {
		border: 0.5px solid #A07B50;
		padding: 24px;
		width: 650px;
		margin: 0 auto;
	}
	.card__photo {
		top: 250px;
		right: 40px;
		width: 208px;
		height: 208px;
	}





	.reviews {
		padding-bottom: 85px;
	}
	.questions__wrapper {
		max-width: 655px;
	}
	.questions__card {
		margin-left: 150px;
		padding: 32px 142px 32px 30px;
		position: reletive;
	}
	.question__card__right-box {
		width: 72px;
	}
	.question__card__right-box--bg {
		width: 72px;
	}
	.text-white-medium {
		font-size: 1rem;
	}
	.card__number {
		display: block;
		position: absolute;
		font-size: 3.125rem;
		font-weight: 700;
		left: -75px;
		top: 15px;

	}





	.reviews__text {
		font-size: 1.5rem;
	}
	.text-white--opa {
		max-width: 407px;
	}
	.reviews-sergey-photo {
		width: 302px;
		height: 208px;
		top: -98px;
		left: 132px;
	}
	.reviews__contentbox {
		padding-top: 148px;
		max-width: 578px;
	}
	.reviews-title {
		padding-top: 70px;
	}



	.features__wrapper {
		position: relative;
		 max-width: 700px;
		 margin: 0 auto;
	}


	.footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		background-color: #151313;
		height: 105px;
		padding-left: 50px;
		padding-right: 50px;
	}
	.logo__footer {
		display: none;
	}
	.footer-list {
		order: 1;
	}
	.footer__sity {
		order: 2;
	}
	.footer-tel {
		order: 3;
		padding-top: 0;
	}
	.footer-item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}