/*-----------сброс стиле------------ */
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
a {
	text-decoration: none;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/*выше сброс стилей-------начало проекта */

body {
	min-width: 1366px;
	background-color: #1F1C1D;
	font-family: Roboto, sans-serif;
	color: #A07B50;
	font-size: 16px;
	line-height: 150%;

}
/*--------header---------- */
.page-header {
	background-color: #181617;
}
.header {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	border: 1px solid red;
}
.header__logo {
	margin: 31px auto;
	border: 1px solid green;
}
.header__container {
	min-width: 622px;
	min-height: 462px;
	display: flex;
	flex-direction: column;
	margin-top: 186px;
	margin-left: 202px;
}

.header__subtitle {
line-height: 24px;
padding-bottom: 18px;

}
.header__title {
	font-family: Yeseva One, sans-serif;
	color: #fff;
	font-size: 52px;
	font-weight: 400;
	line-height: 60.06px;
	padding-bottom: 31px;
}
.header__discriptions {
}
.header__link {
	color: #fff;
	padding: 18px 35px 17px 35px;
	font-size: 14px;
	line-height: 16.41px;
	border: 0.5px solid #A07B50 ;
	max-width: 200px;
	max-height: 52px;
	margin-top: 62px;
	text-decoration: none;
}
.header__link:hover {
	color: rgba(255, 255, 255, 0.1);
	padding: 18px 35px 17px 35px;
	font-size: 14px;
	line-height: 16.41px;
	border: 0.5px solid #A07B50 ;
	max-width: 200px;
	max-height: 52px;
	margin-top: 62px;
}
.header__image {

}
.header__sociallist {

}
.sociallist__item {
}
.socialitem__link {
	text-decoration: none;
	font-size: 0px;
}
.socialitem__image {

}
/*--------pets---------- */
.pets__container {
	background-color: #1F1C1D;
	border: 1px solid blue;
	margin: 0 auto;
	width: 1024px;
}
